{% extends "base.html" %}

{% block title %}<title>SocketIO Chat</title>{% endblock %}

{% block content %}

{% if current_user.channels %}

    <h2>Channel Select</h2>

    {% for channel in current_user.channels %}

        <a href="/channel/{{ channel.id }}">
        <button>{{ channel.name }}</button>
        </a>

        <br>
        <br>

    {% endfor %}

{% endif %}

<h2>Create a Channel</h2>

<form method="POST">

    <input type="text" name="channel_name" placeholder="Channel Name" maxlength="32"><br>

    <input type="submit" value="Submit">

</form>


{% endblock %}